body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
}

form p {
    margin-bottom: 15px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}