<!-- FILEPATH: /c:/Users/lopez/Projects/gymapp/gymapp/templates/admin/new_machine.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Create New Excercise</title>
</head>
<body>
    <h1>Create New Excercise</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }}<br>{{ form.name() }}</p>
        <p>{{ form.description.label }}<br>{{ form.description() }}</p>
        <p>{{ form.video_url.label }}<br>{{ form.video_url() }}</p>
        <p>{{ form.machine_id.label }}<br>{{ form.machine_id() }}</p> <!-- Change this to a selector of available machines -->
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>